<div class="w-full h-full p-6">
  @if (teamMembers.hasValue() && teamMembers.value().length) {
    <div
      class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-5 gap-4"
    >
      @for (member of teamMembers.value(); track member.id) {
        <p-card
          class="flex flex-col items-center text-center pt-4"
          (click)="selectMember(member)"
        >
          <ng-template #header>
            <p-avatar
              [label]="member.name[0]"
              size="xlarge"
              shape="circle"
              class="bg-blue-100 text-blue-700 font-semibold"
            />
          </ng-template>
          <ng-template #title
            ><span class="font-semibold">{{ member.name }}</span></ng-template
          >
          <ng-template #subtitle
            ><span class="text-sm"
              >EST {{ member.team.number }}.0</span
            ></ng-template
          >
        </p-card>
      }
    </div>
  } @else {
    <div class="text-center text-gray-500 py-8">Loading team members...</div>
  }
</div>
