<div class="p-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
  @if (products.value(); as products) {
    @for (product of products; track product.id) {
      <a (click)="addToCart(product.id)"
        ><div class="rounded-2xl shadow bg-white p-4 flex flex-col">
          <img
            [src]="product.image"
            alt="{{ product.name }}"
            class="h-48 w-full object-cover rounded-xl mb-4"
          />
          <h2 class="text-lg font-semibold mb-1">{{ product.name }}</h2>
          <p class="text-gray-600 text-sm mb-2">{{ product.description }}</p>
          <div class="mt-auto flex items-center justify-between">
            <span class="text-blue-600 font-bold">{{
              product.price | currency
            }}</span>
            <!-- <button
            pButton
            type="button"
            label="-1"
            icon="pi pi-shopping-cart"
            class="p-button-sm"
          ></button> -->
          </div>
        </div></a
      >
    }
  } @else {
    <div class="col-span-full text-center py-8 text-gray-500">
      No products found
    </div>
  }
</div>
