<div
  class="p-6 grid grid-cols-2 xs:grid-cols-4 sm:grid-cols-5 lg:grid-cols-5 gap-6 w-full"
>
  @if (products(); as products) {
    @for (product of products; track product.id) {
      <p-card (click)="addToCart(product.id)">
        <ng-template #header>
          <img
            [src]="product.image"
            alt="{{ product.name }}"
            class="w-full h-48 object-cover rounded-xl"
          />
        </ng-template>

        <ng-template #title>
          <div class="flex items-center gap-2">
            <span>{{ product.name }}</span>
            @if (qtyItemInCart(product.id); as qty) {
              <p-badge [value]="qty"></p-badge>
            }
          </div>
        </ng-template>

        <ng-template #subtitle>
          <span class="text-sm text-gray-600">{{ product.description }}</span>
        </ng-template>

        <ng-template #content>
          <div class="flex justify-between items-center">
            <span class="text-blue-600 font-bold">
              {{ product.price | currency }}
            </span>
          </div>
        </ng-template>
      </p-card>
    }
  } @else {
    <div class="col-span-full text-center py-8 text-gray-500">
      No products found
    </div>
  }
</div>
